---
import '../styles/app.css';
import Builder from '../components/Builder';
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Discord Component Builder</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="robots" content="noindex" />
</head>
<body>
  <Builder client:only="react" />
</body>
</html>
